main {
    div {
        div {
            .carit {
                height: 100vh;
                min-height: 300px;
                background-color: no-repeat scroll center scroll;
                -webkit-background-size: cover;
                background-size: cover;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: black;
                    opacity: 0.5;
                }

                .container {
                    div {
                        .carousel-caption {
                            bottom: 180px;
                            padding-left: 100px;
                            padding-right: 100px;
                        }

                        .carousel-caption h5 {
                            font-size: 100px;
                            font-weight: 700;
                        }

                        .carousel-caption p {
                            font-size: 18px;
                            top: 2rem;
                        }

                        .slider-btn {
                            margin-top: 30px;

                            .btn {
                                background-color: rgba(211, 52, 52, 0.866);
                                columns: rgb(190, 56, 56);
                                border-radius: 5px;
                                padding: 1rem 2rem;
                                margin-right: 15px;
                            }

                            .btn-1 {
                                font-weight: 700;
                                color: black;
                                background-color: white;
                                opacity: 0.7;

                                &:hover {
                                    color: white(49, 27, 213);
                                    background-color: rgb(251, 173, 38);
                                }

                                .links {
                                    text-decoration: none;
                                    color: black;
                                }
                            }

                            .btn-2 {
                                font-weight: 700;
                                color: black;
                                background-color: white;
                                opacity: 0.7;

                                &:hover {
                                    color: white(49, 27, 213);
                                    background-color: rgb(251, 173, 38);
                                }

                                .links {
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }

            div {
                .carousel-caption {
                    bottom: 180px;
                    padding-left: 100px;
                    padding-right: 100px;
                }

                .carousel-caption h5 {
                    font-size: 100px;
                    font-weight: 700;
                }

                .carousel-caption p {
                    font-size: 18px;
                    top: 2rem;
                }

                .slider-btn {
                    margin-top: 30px;

                    .btn {
                        background-color: rgba(211, 52, 52, 0.866);
                        columns: rgb(190, 56, 56);
                        border-radius: 5px;
                        padding: 1rem 2rem;
                        margin-right: 15px;
                    }

                    .btn-1 {
                        font-weight: 700;
                        color: black;
                        background-color: white;
                        opacity: 0.7;

                        &:hover {
                            color: white(49, 27, 213);
                            background-color: rgb(251, 173, 38);
                        }

                        .links {
                            text-decoration: none;
                            color: black;
                        }
                    }

                    .btn-2 {
                        font-weight: 700;
                        color: black;
                        background-color: white;
                        opacity: 0.7;

                        &:hover {
                            color: white(49, 27, 213);
                            background-color: rgb(251, 173, 38);
                        }

                        .links {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}