.footer {
    background-image: url(../imgs/fondogris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    div{
        div{
            .footerlogo{
                
                a{
                    width: auto;
                    img{
                        
                        width: 150px;
                        height: 100px;
                        border-radius: 15px;

                    }
                }
            }
        }
        
    }
}
