main {
  div {
    div {
      button {
      }
      button {
      }
    }
    div {
      div {
        .img {
        }
      }
      div {
        .h1carru {
            font-family: "Inconsolata", monospace;
            font-family: "Outfit", sans-serif;
            font-family: "PT Serif", serif;
            font-size: 100px;
            font-weight: 500
        }

        .h2carru {
            font-family: "Inconsolata", monospace;
            font-family: "Outfit", sans-serif;
            font-family: "PT Serif", serif;
        }
        .h4carru {  
            font-family: "Inconsolata", monospace;
            font-family: "Outfit", sans-serif;
            font-family: "PT Serif", serif;
        }
      }
      div {
        div {
          .img {
          }
        }
      }
      div {
        .h1carru {
        }

        .h2carru {
        }
        .h4carru {
        }
      }
    }
  }
}
