@media screen and (max-width: 576px) {
    .home {
      background-color: rgba(245, 245, 220, 0.74);
    }
    .navbarCon {
      border-radius: 15px;
    }
    .navbarCon {
      border-radius: 15px;
    }
    .letraRo1 {
      width: max-content;
    }
    .footer {
      font-weight: 600;
    }
    .bordeArriba{
      border-top: 3px solid rgba(255, 166, 0, 0.7);
      margin-top: 15px;
            
     
      }
      
        .form1 {

          width: 100vw !important;
        
          }
}


@media screen and (max-width: 1200px){
  .galeria{

  }
  .galeria .imagen {
    width: 27%;
  }

  .galeria .imagen .overplay p {
    margin-top: 0;
    font-size: 12px;
  }
}

@media screen and (max-width:800px){
  .galeria .imagen {
    width:42%;
  }

  .galeria .imagen .overplay p{
    margin-top: 10%;
    font-size: 16px;
  }
}


@media screen and (max-width:600px){
  .galeria .imagen {
    width:90%;
  }

  .galeria .imagen .overplay p{
    margin-top: 10%;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
  }
}