@media screen and (max-width: 576px) {
    .home {
      background-color: rgba(12, 11, 11, 0.563);
    }
    .nosotros{
      font-size: larger;
      color: black;
    }
    .navbarCon {
      border-radius: 15px;
    }
    .navbarCon {
      border-radius: 15px;
    }
    .letraRo1 {
      width: max-content;
    }
    .footer {
      font-weight: 600;
    }
    .bordeArriba{
      border-top: 3px solid rgba(255, 166, 0, 0.7);
      margin-top: 15px;
      padding: 5px;
            
     
    }
    
      
        .form1 {

          width: 100vw !important;
        
          }
}



//carousel index


@media screen and (max-width: 777px) {
  .h1carru{width: auto;

  }
  .h2carru{width: auto;

  }
  .h4carru{width: auto; 

  }
}


  //destinos nacionales e internacionales
 

@media screen and (max-width: 1000px) {
  .contenedor-imagenes{
      width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .contenedor-imagenes{
      width: 90%;
  }
  .imagen1{
      width: 48%;
  }
}

@media screen and (max-width:450px){
  .contenedor-imagenes{
      width: 98%;
  }
  .imagen1{
      width: 80%;
  }
}