@media screen and (max-width: 550px) {
    .home {
      background-color: rgba(245, 245, 220, 0.74);
    }
    .navbarCon {
      border-radius: 15px;
    }
    .navbarCon {
      border-radius: 15px;
    }
    .letraRo1 {
      width: max-content;
    }
    .footer {
      font-weight: 600;
    }
  }
  