.home{
    .container{
            div{
                div{
                    .LetraRo1{
                        font-family: "Inconsolata", monospace;
                        font-family: "PT Serif", serif;
                        font-family: "Roboto", sans-serif;
                        font-family: "Roboto Condensed", sans-serif;
                        font-weight: 800;
                        font-size: 100px;
                        color: rgb(255, 213, 0);
                        animation-duration: 6s;
                        animation-name: titulo;
                        animation-iteration-count: infinite;
                    }
                        
                    
                }
                div{
                    h1.letraRo{
                    font-family: "Inconsolata", monospace;
                    font-family: "PT Serif", serif;
                    font-family: "Roboto", sans-serif;
                    font-family: "Roboto Condensed", sans-serif;
                    }
                    h3.letraRo{
                        
                        font-family: "Inconsolata", monospace;
                        font-family: "PT Serif", serif;
                        font-family: "Roboto", sans-serif;
                        font-family: "Roboto Condensed", sans-serif;
                        
                    }
                }  
                
                .letraRo{
                        font-family: "Inconsolata", monospace;
                        font-family: "PT Serif", serif;
                        font-family: "Roboto", sans-serif;
                        font-family: "Roboto Condensed", sans-serif;

                }

                div{
                    div{
                        div{
                            h2{
                                button{}
                            }
                            div{
                                div{
                                    a{

                                    }
                                }
                            }

                        }
                        .acordIt{
                            opacity: 0.7;
                            h2{
                                button{}
                            }
                            div{
                                div{
                                    a{}
                                }
                            }
                            .acordIt{
                                opacity: 0.7;
                                h2{
                                    button{}
                                }
                                div{
                                    div{
                                        a{}
                                    }
                                }
                            }

                        }
                    }
                }
            }

    }
    
}
@keyframes titulo {
    0%{
      opacity: .2;
      color:  rgb(255, 213, 0);
    }
    50%{
      opacity: 1;
      color: rgb(240, 227, 180)
    }
    100%{
      opacity: .3;
      color: rgb(255, 213, 0);
    }
    
  }